<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/fundain_logo.png">
    <link rel="stylesheet" href="/stylesheets/flex.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Chango&family=Cormorant+Unicase:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/b0b1ca3c3e.js" crossorigin="anonymous"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div class="backgroundGradient">
      <header class="blurGlass">
        <h1>Welcome To The Fundain!</h1>
      </header>
    </div>
      <div class="main_container">
        <nav>
          <ul>
            <li><a href="">What is Fundain</a></li>
            <li><a href="">What they said about us</a></li>
            <li><a href="">contact</a></li>
          </ul>
        </nav>
        <main class="backgroundGradient">
          <div class="svgContainer">
          <div class="handwriting">
            <svg
            version="1.1"
            viewBox="0 0 1905 825"
            xmlns="http://www.w3.org/2000/svg"
          >
            <clippath id="clipPath1671">
              <text
                transform="matrix(1.1407 0 0 1.1396 210.76 7.8466)"
                fill="#000000"
                font-family="'Dancing Script'"
                font-size="170.71px"
                style="
                  line-height: 1.25;
                  shape-inside: url(#rect964);
                  white-space: pre;
                "
                xml:space="preserve"
              >
                <tspan x="93.056641" y="205.39399">
                  <tspan fill="#000000" style="shape-inside: url(#rect964)">
                    United We Stand...
                  </tspan>
                </tspan>
                <tspan x="93.056641" y="418.784">
                  <tspan fill="#000000" style="shape-inside: url(#rect964)"></tspan>
                </tspan>
                <tspan x="93.056641" y="632.17402">
                  <tspan fill="#000000" style="shape-inside: url(#rect964)"></tspan>
                </tspan>
              </text>
              <text
                transform="matrix(1.1429 0 0 1.1324 108.54 33.401)"
                fill="#000000"
                font-family="sans-serif"
                font-size="85.333px"
                style="
                  line-height: 1.25;
                  shape-inside: url(#rect982);
                  white-space: pre;
                "
                xml:space="preserve"
              >
                <tspan x="180.79492" y="599.86425">
                  <tspan
                    fill="#000000"
                    font-family="'Dancing Script'"
                    font-size="85.333px"
                  >
                    -Pink Floyd-
                  </tspan>
                </tspan>
              </text>
              <text
                transform="matrix(1.0282 0 0 1.0121 171.66 -524.09)"
                fill="#000000"
                font-family="sans-serif"
                font-size="192px"
                style="
                  line-height: 1.25;
                  shape-inside: url(#rect1094);
                  white-space: pre;
                "
                xml:space="preserve"
              >
                <tspan x="112.80078" y="1032.2508">
                  <tspan
                    fill="#000000"
                    font-family="'Dancing Script'"
                    font-size="192px"
                  >
                    Divided We Fall...
                  </tspan>
                </tspan>
              </text>
            </clippath>
    
            <path
              class="text"
              d="m329.94 154.38s-4.9351-23.016 2.585-33.827c7.5201-10.81 14.335-16.685 18.565-16.45 4.2301 0.235 14.335-1.41 16.92 5.4051 2.585 6.8151 5.1701 20.21 2.585 29.61-2.585 9.4001-14.1 48.646-14.1 48.646s-11.985 27.495-9.1651 42.771c1.41 7.6376 2.7025 12.925 4.3476 16.626s3.6426 5.8163 6.4626 7.1088c2.82 1.2925 9.2826 1.2925 15.51 0.29375s12.22-2.9963 14.1-5.6988 11.883-12.297 18.756-21.227c6.8738-8.9301 10.619-17.196 10.619-19.898 0-5.4051 31.96-100.35 31.96-100.35l-3.525-0.94001-19.035 51.231-11.28 52.641-1.645 13.865-1.645 13.865s-0.58751 1.88-0.44063 4.4651c0.14688 2.585 1.0281 5.8751 3.9657 8.6951s6.2863 4.4651 9.2826 5.3757 5.6401 1.0869 7.1676 0.96939c3.055-0.235 13.865-15.745 13.865-15.745s23.97-58.281 18.33-51.231-20.68 55.461-13.865 46.766 29.61-37.131 33.37-39.246c3.76-2.115 14.496-9.642 19.197-6.822 4.7001 2.82 12.059 12.697 12.059 12.697s-16.685 27.965-11.28 33.84 8.4601 6.5801 13.865 4.7001c5.4051-1.88 14.57-7.2851 20.915-18.565 6.3451-11.28 36.19-50.056 28.67-44.416s-21.855 29.845-22.09 33.84c-0.23501 3.9951-1.175 23.97 1.88 27.495s11.985 4.9351 15.04 2.82 12.925-7.5201 12.925-7.5201l17.39-22.325s46.531-93.061 39.716-84.366c-6.8151 8.6951-43.946 82.956-43.476 93.061 0.47001 10.105 0.23501 19.74 9.1651 22.795s21.62-0.47 26.79-3.995c5.1701-3.525 17.155-20.915 21.62-21.62s11.045 0 15.745-1.88c4.7001-1.88 30.55-15.745 31.49-21.385s6.5801-15.745 3.29-18.565c-3.29-2.82-11.985-5.1701-15.04-2.585-3.055 2.585-10.105 2.35-20.68 14.805-10.575 12.455-23.5 36.19-18.095 43.946 5.4051 7.7551 8.2251 14.335 18.565 14.335s27.495-7.5201 28.67-10.105c1.175-2.585 25.145-23.5 27.26-28.2 2.115-4.7001 9.4001-21.15 15.745-25.38 6.3451-4.2301 16.215-9.8701 21.15-9.1651 4.9351 0.70501 12.22 2.35 9.4001 1.41-2.82-0.94001-16.215-4.7001-21.855 0.70501-5.6401 5.4051-30.315 31.255-31.255 44.886-0.94001 13.63-3.29 21.385 5.8751 20.68 9.1651-0.70501 16.45-4.4651 21.62-9.1651 5.1701-4.7001 20.445-27.495 24.205-32.195 3.76-4.7001 56.636-105.28 47.941-96.351-8.6951 8.9301-28.2 44.181-30.55 52.406-2.35 8.2251-17.39 48.176-18.33 54.991-0.94001 6.8151-6.5801 27.73 0 30.315 6.5801 2.585 25.615-6.5801 29.845-11.515 4.2301-4.9351 12.69-19.74 12.69-19.74l61.101-16.685-1.175-47.941s-9.6351-7.9901-3.525-18.8c6.1101-10.81 11.28-20.68 18.8-22.09 7.5201-1.41 11.985-4.7001 18.095-0.235 6.1101 4.4651 10.817 27.65 8.232 38.46-2.585 10.81-14.342 60.241-14.342 60.241s-16.685 35.955-10.81 42.536 5.4051 11.28 13.63 8.4601c8.2251-2.82 23.265-13.865 34.31-29.14 11.045-15.275 28.435-66.741 27.495-59.691-0.94001 7.0501 1.645 17.625 1.645 17.625l-18.565 43.711s-7.7551 15.04-5.4051 21.385c2.35 6.3451 10.105 7.2851 18.095 4.2301 7.9901-3.055 17.86-9.4001 25.615-19.74 7.7551-10.34 31.725-48.176 34.781-57.341 3.055-9.1651 18.095-46.296 12.925-55.226-5.17-8.9301-10.575-13.16-10.575-13.16l-5.1701 6.1101s10.105-0.70501 11.985 9.8701c1.88 10.575-16.92 99.876-11.045 98.701 5.8751-1.175 26.555-2.35 36.896-7.9901 10.34-5.6401 29.61-19.035 29.61-25.615s0.7051-15.745-7.05-14.805c-7.7552 0.94001-13.16 0.94001-20.445 7.7551-7.2851 6.8151-24.675 25.615-25.85 33.605s-1.41 26.79 7.0501 29.375c8.4601 2.585 22.795 2.115 28.905-1.41 6.1101-3.525 21.973-15.863 24.558-20.915 2.5851-5.0526 6.2276-11.75 6.2276-11.75s68.974-35.25 66.623-26.79c-2.35 8.4601-0.235 14.335-0.235 14.335s-19.079 19.193-15.906 30.591c3.1725 11.398 15.201 24.048 27.422 24.635 12.22 0.58751 42.066-2.35 46.413-13.395 4.3476-11.045 11.633-36.308-1.2925-41.948-12.925-5.6401-34.428-20.798-34.428-20.798s-23.03-15.275-19.035-25.85c3.995-10.575 13.16-35.72 23.383-40.421 10.223-4.7001 28.905-11.28 35.016-7.2851 6.1101 3.9951 11.633 5.0526 9.7526 12.573-1.88 7.5201-9.5176 28.67-9.5176 28.67l-2.35 17.155 72.282-55.96-2.3264 23.596s-29.246 42.872-34.564 70.789-9.9703 34.896-2.3264 41.211 11.632 5.6499 20.938 1.6617c9.3057-3.9881 21.27-13.958 24.261-18.944 2.9911-4.9852 31.905-40.214 31.905-40.214s14.623-9.7626 17.78-8.9318c3.1573 0.83086 18.279 4.362 16.326 9.638-1.9526 5.276-7.6024 14.706-6.4392 11.507s5.3175-14.582 0.8308-16.451c-4.4866-1.8694-18.86-4.1128-22.35-0.74778-3.4897 3.365-26.422 20.772-31.822 34.647s-6.4807 27.335-0.4985 30.825 6.5638 6.0653 9.7211 3.4896c3.1573-2.5757 24.51-22.433 24.51-22.433s24.843-26.172 20.356-22.516c-4.4866 3.6558-21.187 24.344-16.368 32.487 4.819 8.1424 9.9703 11.549 17.116 7.2285 7.1454-4.3205 25.923-17.947 29.412-23.181 3.4897-5.2344 14.374-35.727 10.552-30.326-3.822 5.4006-23.596 57.496-16.95 51.763 6.6469-5.7329 27.003-33.401 27.003-33.401s15.205-17.531 21.686-18.861 11.881-5.4837 13.044-2.5757c1.1632 2.908 5.9822 10.801 1.3294 29.329-4.6528 18.528-9.7211 19.359-5.6498 23.513 4.0712 4.1543 13.875 5.4006 18.611 1.0801 4.7359-4.3205 20.688-19.858 23.264-25.674 2.5757-5.816 22.184-33.899 27.668-35.81s19.774-7.2285 21.686-3.905 2.5757 2.1602-0.4154 1.5786c-2.9912-0.58161-17.448-2.5757-22.6 1.4125-5.1513 3.9881-26.837 28.582-27.834 36.724-0.997 8.1424-5.816 20.19 4.819 23.596s10.469 3.4896 18.611-3.822c8.1425-7.3116 19.775-20.024 21.686-23.098 1.911-3.0742 26.338-49.436 26.754-53.84s33.401-57.828 26.92-54.172c-6.4807 3.6558-23.68 36.309-23.68 36.309l-19.359 55.668s-7.9764 23.43-5.3176 33.567c2.6588 10.137-0.997 14.291 5.6499 14.208 6.6469-0.0831 15.62-5.4837 18.861-8.724 3.2403-3.2404 16.285-19.276 16.534-21.852 0.2493-2.5757 0.4985-2.7418 0.4985-2.7418l13.045-5.1513s-16.119 28.249-15.786 31.988 2.908 6.5638 5.1513 6.3146c2.2434-0.24926 9.2226-2.3264 9.9704-5.4837 0.7478-3.1573-0.083-7.4778-2.7419-7.8101-2.6587-0.33235-11.3 2.5757-11.715 5.816s1.0801 5.9822 3.4065 5.4837 41.045 3.1573 44.451 1.8279c3.4066-1.3294 9.4719-2.5757 9.3057-7.5608s-2.3264-5.4837-3.9882-5.2344c-1.6617 0.24926-11.549 2.7418-11.964 5.6499-0.4154 2.908-1.0801 6.0653 2.9081 6.8131 3.9881 0.74778 45.116 0.49852 45.116 0.49852s10.718-3.9881 9.638-7.3947c-1.0802-3.4065-0.9971-5.9822-5.4007-5.3175-4.4035 0.66469-10.386 3.0742-10.635 5.4837-0.2492 2.4095-3.4065 4.9021 1.911 6.2315s43.786-0.5816 43.786-0.5816l-59.573-47.276-53.923-164.34h-1088.8l78.483 124.53s4.4651 6.8151 11.985 0.235 8.2251-12.69 4.4651-13.395c-3.76-0.705-15.04 1.645-16.685 4.9351-1.645 3.29-2.115 7.0501-0.47 8.2251 1.645 1.175 16.45 24.44 16.45 24.44l5.4051 2.585s14.57 2.115 23.97 1.175 28.2 0 28.67-1.175c0.47-1.175 244.17-135.13 244.17-135.13l392.46 28.905-42.066 106.22h5.8751s27.26 1.88 31.49 1.41c4.23-0.47 23.03-1.645 23.03-1.645l40.916-142.01-1145.9 23.929 71.786 380.2 354.06-7.1416-2.115-8.9301s-0.70501-19.27 5.8751-26.085c6.5801-6.8151 26.534-17.25 32.682-17.499 6.1484-0.24926 23.679-6.6639 34.481 0.49852 13.704 9.0872 23.42 32.564 24.062 47.665 1.0897 25.618-23.938 78.591-42.344 87.19-16.336 7.631-45.943 17.625-49.821 15.98-3.8776-1.645-15.98-4.5826-12.573-8.2251s17.978-52.171 17.978-52.171l19.035-54.168 9.8701-22.56-57.576 76.964-32.078 76.141 104.11 3.29 73.204-115.27 10.81 9.2826-3.055 7.4026s-20.798 21.62-22.678 38.893c-1.88 17.273-1.9975 25.028 0 26.555s21.033-0.1175 23.148-1.645 16.333-15.628 18.33-19.388 13.865-26.555 12.103-26.555c-1.7625 0-7.4026-0.70501-6.5801 2.2325 0.82252 2.9375-0.47 40.421 3.055 45.121 3.525 4.7001 7.6376 5.2876 12.808 1.175 5.1701-4.1126 19.388-21.15 24.088-29.845 4.7001-8.6951 20.445-37.013 15.51-34.898-4.9351 2.115-8.4601 2.2325-7.4026 3.76 1.0575 1.5275-0.82251 31.255 3.4076 37.248s10.223 9.5176 14.1 7.4026c3.8776-2.115 18.565-12.455 19.388-15.275s24.675-38.541 19.27-34.075c-5.4051 4.4651-19.388 18.448-22.09 29.493s-7.1676 22.208-2.7025 28.553 6.4626 7.7551 15.393 5.7576c4.4651-0.99877 8.9889-2.7025 12.955-4.7882 3.9657-2.0856 7.3732-4.5532 9.6058-7.0795 0 0 25.909-42.903 33.553-47.556 7.6439-4.6528 21.602-9.1395 25.092-7.1454s6.3146 1.1632-1.6617 1.1632-19.442 1.4956-21.436 3.9881c-1.9941 2.4926-17.614 17.282-21.27 32.736s-5.3175 23.929-2.6588 28.582 4.1543 6.3146 7.9763 4.6528c3.822-1.6617 19.608-13.792 21.935-17.116s20.107-25.092 23.43-32.902c3.3234-7.8101 26.754-54.505 26.754-54.505s21.935-36.89 17.448-36.558c-4.4867 0.33235-5.4837-0.49851-6.3146 2.4926s-35.229 79.43-35.229 79.43-12.961 40.712-9.4718 48.689c3.4896 7.9763 3.822 10.801 11.964 8.3086 8.1424-2.4926 25.258-16.451 26.92-19.608 1.6617-3.1573 16.617-6.4807 16.617-6.4807s28.249-10.303 33.733-19.442c5.4837-9.1395 11.3-18.113 7.6439-20.605-3.6557-2.4926-7.6439-5.3175-13.128-3.6558s-21.769 9.8042-29.246 18.445c-7.4778 8.641-12.629 25.424-12.131 32.902s4.6528 14.789 9.9704 18.445c5.3175 3.6558 18.611 3.6558 23.596 1.1632 4.9852-2.4926 18.944-10.801 30.576-24.095 11.632-13.294 26.422-40.38 36.558-43.87s26.754-2.9911 18.611-2.1602c-8.1425 0.83086-22.433 1.8279-27.252 6.4807-4.819 4.6528-22.101 29.911-22.932 38.552-0.8308 8.641-8.6409 19.941 1.6617 22.101 10.303 2.1602 16.451-0.49852 20.605-4.9852 4.1543-4.4867 14.789-15.288 16.95-18.611s21.935-29.745 21.935-29.745 44.036-87.24 36.558-82.92c-7.4778 4.3205-10.469 8.1424-12.629 14.956-2.1603 6.8131-28.416 71.953-28.416 71.953s-8.1425 18.777-6.6469 33.899c1.4956 15.122-1.4956 16.617 2.9911 16.783s18.944-2.9911 23.43-8.8071c4.4867-5.816 10.967-11.3 12.629-16.783s2.8249-7.3116 2.8249-7.3116l59.822-51.015 0.6647-12.629s-4.4867-27.585 4.819-33.401c9.3056-5.816 14.125-12.131 19.774-10.303 5.6499 1.8279 20.028 9.4194 19.774 16.774-0.2617 7.5847-0.8132 21.856-3.2094 37.337-2.6366 17.033-17.396 60.881-17.396 60.881s-5.9349 14.073-4.6055 22.547c1.3293 8.4748-0.3796 15.672 5.104 15.174 5.4837-0.49852 13.294-0.99704 17.947-4.819 4.6528-3.822 18.777-17.448 24.095-24.76 5.3175-7.3116 32.404-54.505 32.404-54.505l-6.4808-4.819s-20.938 73.116-20.605 74.778c0.3323 1.6617-1.6618 7.4778 4.1543 11.134 5.816 3.6558 14.125 3.6558 18.778 0.49852 4.6528-3.1573 32.404-31.573 33.899-34.73 1.4956-3.1573 31.407-57.163 32.238-65.638 0.8308-8.4748 0.8308-43.537 0.8308-43.537l-15.122 4.819-15.454-10.469 61.982-10.635-43.205 129.78s20.273-2.6588 26.92-4.819 33.733-15.953 35.395-20.772 7.4778-18.445 3.6558-20.439c-3.8219-1.9941-9.3056-4.3205-14.457-1.6617-5.1513 2.6588-24.427 14.789-29.412 26.754s-13.626 24.926-9.638 32.071c3.9882 7.1454 5.1514 12.297 15.62 13.128 10.469 0.83086 27.252-5.1513 34.73-12.795 7.4778-7.6439
               18.445-22.599 18.445-22.599l42.042 12.297 35.893 36.226-9.5761-17.714 43.143-128.35 14.956-2.9911s49.686-3.3234 30.742-3.1573c-18.944 0.16617-48.522 1.4956-48.522 1.4956l-35.561 5.1513s-3.8219 3.3234-7.9763 12.297c-4.1543 8.9733 6.1484 23.43 6.1484 23.43l-18.611 32.902 9.1395-3.3234s12.629-5.9822 22.433-6.1484c9.8041-0.16618 46.528-1.4956 46.528-1.4956l90.564-11.3-11.632 42.706-16.119-7.6439s5.4837-13.128-1.4956-16.285c-6.9792-3.1573-9.8041-4.819-16.119-2.4926-6.3145 2.3264-22.932 11.3-30.908 25.424-7.9763 14.125-11.798 26.92-9.8043 32.902 1.9941 5.9822 0.3324 14.457 6.8132 12.131 6.4807-2.3264 19.608-8.4748 22.101-11.798 2.4926-3.3234 22.267-33.068 24.76-33.068 2.4925 0 3.4896 2.9911 3.4896 2.9911s-16.451 18.944-15.288 27.751 3.6558 12.131 9.4718 10.967c5.8161-1.1632 14.125-2.3264 19.11-7.9763 4.9851-5.6499 23.929-30.41 23.929-30.41s13.128-8.4748 16.617-13.792c3.4896-5.3175 21.935-30.077 25.258-37.721 3.3235-7.6439 12.629-27.917 12.962-31.739 0.3323-3.822 0.6647-14.125-1.4956-15.786-2.1602-1.6617-2.4926-2.9911-5.9822 0.66469-3.4896 3.6558-19.608 28.582-19.608 28.582l-17.282 32.902s-13.294 29.08-13.958 39.383c-0.6647 10.303-4.1543 18.445-0.8309 26.588 3.3235 8.1424 3.6558 10.137 11.798 8.9733 8.1425-1.1632 15.62-6.3146 17.448-8.8071 1.8279-2.4926 14.291-19.608 14.291-19.608l15.122-14.125s13.626-12.961 17.448-19.276c3.8219-6.3146 18.611-31.739 20.605-38.386 1.9941-6.6469 7.1454-19.276 5.3175-22.101s-4.9851-10.303-4.9851-10.303-32.404 46.694-38.884 66.137c-6.4807 19.442-14.789 49.852-11.632 57.994 3.1572 8.1424 7.4777 11.3 14.789 8.3086s17.78-9.4718 20.605-14.789c2.8249-5.3175 9.8042-18.777 9.8042-18.777l9.3056 0.99703-12.131 24.76s-0.3323 5.1513 2.825 5.6499c3.1572 0.49852 7.3115 1.8279 10.635-3.3234 3.3234-5.1513 3.822-6.8131 0.997-7.9763-2.8249-1.1632-14.125 3.822-14.125 3.822l49.021 8.3086s7.8101-1.9941 8.3086-6.1484c0.4986-4.1543 0-6.6469-3.4896-6.6469s-12.131 3.4896-12.463 5.6499c-0.3324 2.1602 0.997 6.3146 3.822 6.4807 2.8249 0.16617 45.864 0.33235 45.864 0.33235s9.1395-2.9911 8.9733-5.6499c-0.1661-2.6588 0.9971-8.641-6.3145-6.4807s-9.8042 4.819-10.303 6.9792 1.3294 6.1484 3.3234 5.4837c1.9941-0.66469 1.4956 22.766 1.4956 22.766l-39.383-236.63-1076.8 21.27 20.439 103.36s3.3234 5.9822 10.635 2.3264c7.3116-3.6558 11.134-8.8071 9.638-10.967-1.4956-2.1602-3.4896-5.3175-10.469-3.9881s-8.4748 6.1484-10.469 8.9733-9.4718 15.288 2.9911 13.792c12.463-1.4956 123.63-5.1513 132.77-7.1454s13.958-6.3146 13.294-9.638c-0.66469-3.3234-3.3234-7.6439-7.6439-6.6469-4.3205 0.99703-12.463 1.9941-12.463 7.3116 0 5.3175 7.3116 7.8101 5.4837 9.4718-1.8279 1.6617-200.9-78.433-200.9-78.433l-187.61 26.754-197.75 313.07 19.276-0.74778 29.745-1.4956 8.9733 26.754 8.3917-2.9911 6.9792-28.997 16.285-44.368 0.24926-1.6617s-20.439 3.6558-17.614 4.2374 15.371-4.9021 17.614-4.9852c2.2433-0.0831 10.552 0.33234 12.214 1.4125 1.6617 1.0801 11.217 3.3234 12.463 11.466 1.2463 8.1424 1.5786 13.294-4.4036 17.78-5.9822 4.4866-23.015 9.3056-27.751 9.4718-4.7359 0.16617-6.3976-0.91395-6.3976-0.91395l19.691 12.131 32.717-27.034-5.3814 13.241s-10.552 15.288-11.134 21.602c-0.58161 6.3146-1.1632 9.1395 1.9941 10.137 3.1573 0.99703 9.4718-0.0831 10.967-1.3294 1.4956-1.2463 10.718-9.2226 11.798-11.964 1.0801-2.7418 1.5786-11.549 1.5786-11.549l3.4896-0.33235s-12.878 25.674-9.3057 23.181c3.5727-2.4926 13.46-15.703 13.46-15.703l9.7211-8.1424s5.3175-3.5727 6.8962-1.5786c1.5786 1.9941 2.6588 10.801 0.66469 15.122s-5.4006 10.801-3.1573 11.217c2.2433 0.41543 4.1543 3.2404 7.2285 1.7448 3.0742-1.4956 8.2255-5.816 9.2226-7.6439 0.99704-1.8279 11.05-24.178 11.05-24.178s5.1513-4.7359 5.9822-5.0683c0.83086-0.33235 7.0623-6.0653 9.3887-9.3887s6.3976-10.884 6.6469-14.125c0.24926-3.2404 0.49852-9.0564-1.3294-8.3086-1.8279 0.74778-17.864 27.751-17.864 27.751l-2.4095 7.8932s-7.2285 18.611-6.8131 24.76c0.41543 6.1484-0.74778 11.05 1.0801 8.641s10.469-20.688 10.469-20.688 7.3947-10.552 10.552-10.552c3.1573 0 6.0653-2.0772 8.5579 0.74778 2.4926 2.8249 3.7389 5.733 2.1602 8.3917-1.5786 2.6588-8.4748 6.0653-10.469 6.5638-1.9941 0.49852-5.6499 0.99704-5.6499 0.99704s3.4896 14.208 7.727 14.623c0 0 5.3175 1.5786 9.0564-2.4926s8.3917-11.383 9.1395-12.878c0.74778-1.4956 22.101-16.534 22.101-16.534l10.137-0.74777 13.543-2.2433 18.196-0.24926-17.365 47.858-13.128-0.83086 1.1632-8.3086 9.7211-36.059s10.053-36.973 13.875-36.641c3.822 0.33235 16.95 2.9911 19.525 1.911s8.3086-3.9881 3.905-1.9941c-4.4036 1.9941-3.822 5.4006-8.3917 4.819-4.5697-0.5816-24.76-4.9852-29.496-2.5757s-10.967 4.4867-11.466 9.2226 4.1543 6.9792 1.911 11.134-16.617 27.169-16.617 27.169l-1.7448 39.134 38.386-4.9021 11.881-31.739 12.463-3.4896s11.217-12.38 13.46-16.202c2.2433-3.822 9.0564-16.119 9.638-18.944 0.58161-2.8249 1.0801-11.964 0.33235-13.045-0.74778-1.0801-1.3294-2.2433-1.9941-1.1632s-12.131 20.522-12.131 20.522-10.469 18.113-11.217 22.849c-0.74777 4.7359-3.4896 12.961-2.2433 17.78 1.2463 4.819-0.91394 8.8071 3.4065 8.641 4.3205-0.16618 6.8962-0.74778 8.641-2.5757 1.7448-1.8279 8.0594-8.9733 8.0594-8.9733s10.884-13.128 8.0594-12.048-5.816 5.4837-6.8131 8.3917c-0.99703 2.908-1.5786 8.8902 0 12.131 1.5786 3.2404 1.5786 4.4866 5.2344 3.5727 3.6558-0.91394 6.9792-3.6558 9.7211-6.8962 2.7418-3.2404 6.0653-5.5668 7.3947-8.8902s5.1513-12.463 3.9881-13.958c-1.1632-1.4956-1.7448-4.7359-4.6528-4.819-2.908-0.0831-5.733 1.0801-6.8962 3.2404-1.1632 2.1602-2.4095 10.469-1.9941 12.297 0.41543 1.8279 3.4065 6.6469 5.6499 8.2255 2.2433 1.5786 8.8071 2.3264 10.386 1.3294 1.5786-0.99704 10.967-8.3086 11.05-9.1395 0.0831-0.83086 5.9822-10.303 5.2344-10.884-0.74777-0.58161-3.6558-1.1632-3.6558-1.1632l-6.3146 19.608s1.0801 4.4866 3.4065 5.816c2.3264 1.3294 4.4036 1.911 7.0623 0 2.6588-1.911 7.9763-7.8932 7.9763-7.8932s12.795-13.709 10.053-13.792c-2.7418-0.0831-4.0712-0.41543-4.1543 0.33234-0.0831 0.74778-6.4807 29.08-6.4807 29.08s-8.2255 18.113-12.131 19.775-7.0623 2.6588-7.8101 0.24926c-0.74778-2.4095-0.58161-6.4807 1.0801-8.3086 1.6617-1.8279 8.0594-6.3976 9.8042-7.4778s14.789-7.8101 14.789-7.8101 6.73-3.822 8.3917-5.7329c1.6617-1.911 15.205-21.602 15.205-21.602l11.881-6.9792s7.8101 0.33234 4.4866 0.49852c-3.3234 0.16617-9.3887 0.49851-11.05 2.1602-1.6617 1.6617-9.2226 9.2226-10.801 12.712-1.5786 3.4896-6.3976 10.386-4.6528 14.374 1.7448 3.9881 1.9941 6.3976 5.4006 5.4006 3.4065-0.99704 8.1424-3.9881 10.22-6.3976 2.0772-2.4095 11.134-14.291 12.463-16.7 1.3294-2.4095 16.617-33.65 16.617-33.65s8.8071-15.786 5.8991-13.211c-2.908 2.5757-14.54 26.006-14.54 26.006l-9.8042 28.748s-3.3234 6.8962-0.66469 10.552c2.6588 3.6558 3.2404 5.8991 6.3976 4.0712 3.1573-1.8279 8.9733-5.0683 10.303-7.727 1.3294-2.6588 5.1513-8.4748 5.1513-8.4748l6.5638 0.33234 15.62-2.5757 17.282 0.0831 1.2463 2.2433"
              clip-path="url(#clipPath1671)"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="17.5"
            />
            <text
              fill="black"
              font-family="sans-serif"
              font-size="40px"
              style="
                line-height: 1.25;
                shape-inside: url(#rect970);
                white-space: pre;
              "
              xml:space="preserve"
            />
            <text
              fill="#000000"
              font-family="'Dancing Script'"
              font-size="40px"
              style="
                line-height: 1.25;
                shape-inside: url(#rect976);
                white-space: pre;
              "
              xml:space="preserve"
            />
          </svg>
            
           </div>
           </div>
          <div>
            <img
              src="/img/fundain_logo.png"
              width="100%"
              alt=""
              class="Logo_texture"
            />
          </div>
          <div><h3>Care...<br>Share...<br>Connect...<br></h3></div>
         
        </main>
        <aside>
          <ul>
            <li><a href="<%=Url%>/login"> SignIn</a></li>
            <li><a href="<%=Url%>/signup"> SignUp</a></li>
          </ul>
        </aside>
      </div>
      <footer>
        <h2 id="footerheading"><i>Where you can find us</i></h1>
          <div class="footerdiv">
            <p>Follow us here...</p>
            <a href="www.instagram/ktl"> <i class="fab fa-instagram"></i> Instagram</br></a>
            <a href="www.twitter/ktl"> <i class="fab fa-twitter"></i> twitter</br></a>
            <a href="www.twitter/ktl"> <i class="fab fa-snapchat"></i> snapchat</a>
          </div>
          <div class="footerdiv">
            <p>Contact us here...</p>
            <i class="fas fa-envelope-open-text"></i> thefundain@hotmail.com<br>
            <i class="fas fa-phone"></i> (+30) 2310521010
          </div>
          <div class="footerdiv">
            <p>Or even visit us</p>
            <i class="fas fa-map-marker"></i> ATHINA ERMOU, 9
          </div>
    
      </footer>    </div>
  </body>
</html>
