<form action="" method="post">
    Enter your new password<input style="margin-bottom: 10px; width: 280px;" name="password" type="password" class="fields" required><br>
    Confirm password<input style="margin-bottom: 10px; width: 280px;" name="confPass" type="password" class="fields" required><br>
    <button type="submit">Reset</button>
</form>