
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.blurGlass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
body{

}
#container{
    position: relative;
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(34, 222, 237),rgb(135, 89, 215));
  
}
.main_container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

header { 
 
    width: 100%;
   

text-align: center;
font-size: x-large;
}
nav ul li{
    margin-top: 20%;
    font-size: 20px ;
    margin-left:20px;
    
}
nav ul li a{
   font-family: 'Playfair Display', serif;

   color: black;
}
header h1{
    margin-top: 40px ;
   font-family: 'Cormorant Unicase', serif;
}

.Logo_texture{
    
    margin-bottom: 30px;
    margin-left: 15px;
}

aside ul{
    top: 150px;
    position: sticky;
    
}
aside ul li{
   background: rgba( 255, 255, 255, 0.25 );
   background-color: rgb(76 193 255 / 46%);
   box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
   backdrop-filter: blur( 5.5px );
   -webkit-backdrop-filter: blur( 5.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   list-style: none;
   text-align: center;
   font-family: 'Playfair Display', serif;
   margin-top: 100px;
   padding: 20px;
   font-size: xx-large;
   
}
#signUP{
    opacity:0.4;
}

aside ul li:hover{
   background-color: rgb(76 193 255 / 58%);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 5.5px );
   -webkit-backdrop-filter: blur( 5.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );

}
 
 nav { 
    flex: 1;
     background-color: rgba(124 37 210 / 43%);
     border-radius: 15px;
     height: 400px;
    order: 1;
    top: 150px;
    position: sticky;


    }
 
 main { 
    flex: 2;
     background-color: rgba(240, 248, 255, 13%);
     border-radius: 15px;
    order: 2;
    text-align: center;
   }
   main img{

   }
 
 aside {
    flex: 1;
     border-radius: 15px;
    order:3;
    }
 
 footer { 

     background-color: rgb(0, 0, 0);
     border-radius: 15px;  
     height: 150px;
  
   }

   form{
    text-align: center;
    margin-top: 20px;
    width: 380px;
    display: inline-block;
    border:2px solid rgb(0, 162, 255);
    margin-bottom: 30px;
    padding-bottom: 10px;
    background-image:radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(137deg, rgb(26 0 249),rgb(163 127 226))
    }


#logo{
    margin: auto;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.863);
    width: 300px;
    height: 300px;
}
.fields{
    border-radius: 2em;
    width: 200px;
    height: 30px;
    text-indent:10px;
}



.button1{
    font-family: 'Playfair Display', serif;
    font-size: large;
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(34, 222, 237),rgb(135, 89, 215));
    color:black;
    
}

.button1:hover{
    
}

.fa{ 
    color:white;
    width:15px;
}


p {
    font-size: 0.8em;
    margin-top: 2px;
    color:rgba(240, 248, 255, 0.678)
}


  
.input-fields { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 