
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.bubble{
    margin: 10px;
    border-radius: 10px;

}
.bubble a{
    display: contents;
    text-decoration: none;
    color: black;
}
.blurGlass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
body{
background-color: rgb(177, 177, 177);
}
.backgroundGradient{
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(34, 222, 237),rgb(135, 89, 215));

}
#container{
    position: relative;
}
.main_container{
    display: flex;
    height: 100vh;
}

header { 
 height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

text-align: center;
font-size: x-large;
}
nav ul li{
    margin-top: 20%;
    font-size: 20px ;
    
}
nav ul li a{
   font-family: 'Playfair Display', serif;

   color: black;
}
header h1{
    margin-top: 40px ;
   font-family: 'Cormorant Unicase', serif;
}

.Logo_texture{
    
    margin-bottom: 30px;
    margin-left: 15px;
}

aside ul{
    top: 150px;
    position: sticky;
    
}
aside ul li{
   background: rgba( 255, 255, 255, 0.25 );
   background-color: rgb(76 193 255 / 46%);
   box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
   backdrop-filter: blur( 5.5px );
   -webkit-backdrop-filter: blur( 5.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   list-style: none;
   text-align: center;
   font-family: 'Playfair Display', serif;
   margin-top: 100px;
   padding: 20px;
   font-size: xx-large;
}

aside ul li:hover{
   background-color: rgb(76 193 255 / 58%);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 5.5px );
   -webkit-backdrop-filter: blur( 5.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );

}
aside ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
}
 nav { 
    flex: 1;
     background-color: rgba(124 37 210 / 43%);
     border-radius: 15px;
     height: 400px;
    order: 1;
    top: 150px;
    position: sticky;


    }
    .svgContainer{
        position: absolute;
        top: 30vh;
    }
    .handwriting{
        width: 100%;
        transition: all 1s ease;
        transition-delay:1s ;
    
       
    }
    svg {
        position: relative;
        width:100%;
        height:100%;
        
    }
    .text{
        stroke-dasharray: 27000 ;
        stroke-dashoffset: 27000;
        animation: animate 10s linear 1 forwards;
    }
    
    @keyframes animate{
        to{
            stroke-dashoffset: 0;
        }
    }
 main { 
    flex: 2;
     background-color: rgba(240, 248, 255, 13%);
     border-radius: 15px;
    order: 2;

   }
   #signUP{
    opacity:0.4;
}
 
 aside {
    flex: 1;
     border-radius: 15px;
    order:3;
    }
 
 footer { 
 
     background-color: rgb(0, 0, 0);
     border-radius: 15px;  
     height: 150px;
   
     
 } 
 
 .groupsHead{
     height: 200px;
     background-color: rgba(170, 175, 179, 0.719);
     width: 80%;
     border-radius: 20px;
     margin-left: 10%;
     border-style: solid;
 }


  #searchAll{
      margin: 2vh;
  }
  .searchCredentials {
      height: 3vh;
  }
  #minDonation{
      width:15vh;
  }
  #set_out{
      float: right;
      text-decoration: none;
      list-style: none;
      
  }

  #set_out li{
    background: rgba( 255, 255, 255, 0.25 );
   background-color: rgb(76 193 255 / 46%);
   box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
   backdrop-filter: blur( 5.5px );
   -webkit-backdrop-filter: blur( 5.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   list-style: none;
   text-align: center;
   font-family: 'Playfair Display', serif;
   margin-top: 100px;
   padding: 20px;
   font-size: xx-large;
}
#set_out li:hover{
    background-color: rgb(144, 144, 144);
    margin: 2px;
}
.follow{
    margin-right: 2%;
    margin-top: -2%;}

#photo{
    height: 30%;
    border-radius: 10px;
    margin: 5%;
}

.contact-details{
    color:rgb(171, 204, 241);
    margin-left: 20px;
}

#footerheading{
    color:rgb(39, 80, 156);
    text-align: center;
    font-family: 'Cormorant Unicase', serif;
}

.footerdiv{
    width:30%;
    float:left;
    color:white;
    text-align: center;
}

.maxi-button{height:200px;}


.fab{
    font-size: large;
}


a { 
    color: inherit; 
    text-decoration: none;
} 

.footerdiv{
    text-indent: 20px;
    line-height: 1.6;
}


#chatbox{
    width:200px;
    height:350px;
    background-color: ivory;
}